/server
/test
/cli/node_modules

/packages/**/node_modules
/packages/**/stats.html
/packages/**/dist

/packages/nexujs-client/nexujs-client-*.tgz
/packages/nexujs-client/dist

/packages/nexujs/nexujs-*.tgz
/packages/nexujs/t.js

/node_modules
.env
.releaserc.json
/packages-lock.json
