/server
/test
/cli/node_modules

/package/client/node_modules
/package/client/stats.html
/package/client/dist

/package/server/node_modules
/package/server/stats.html
/package/server/dist
/package/server/nexujs-*.tgz
/package/server/t.js

/package/node_modules

/node_modules
.env
.releaserc.json
/package-lock.json
